body{
    background-image:radial-gradient( circle farthest-corner at 10% 20%,  rgb(117, 111, 148) 0.1%, rgba(182, 184, 114, 0.603) 99.8% );  
  }
  body, script, img{
      text-align: center;
      align-content:center;
      appearance: center;
  }
  h2{
      align-content: center;
  }
  
  #animal-details{
      align-items:center;
  }
  #animal-list {
      border: 5px solid rgb(0, 0, 0);
      padding: 20px;
      width: 50%;
      margin: 0 auto;
      background-color: rgb(101, 100, 160);
    }
  
    ul li  {     
      display:inline-block;
      padding:7px;
      font-size: 24px;
      font-family:Georgia, 'Times New Roman', Times, serif;
      font-weight:bold;
      color:white;
    }
    ul li:hover{
      color:rgb(15, 29, 226);
      transition:1s;
      cursor: pointer;
    }
    h2,p,button{
      text-align: center;
    }
    #add-vote-button{
      color:red;
      font-size:large;
    }
    #reset-button{
      color:red;
      font-size:large;
    }